body{
	background-image: url("./header.jpg")
}
h1{
	color: white;

}

input{
	outline: none;
	font-size: 20px;
	border-radius: 10px;
}
table{
	margin:20px;

}
th{
	border-style: solid;
	font-size: 30px;
	margin: 0;
	color: white;
	border-color: lightblue;
}
td{
	border-style: solid;
	font-size: 20px;
	margin: 0;
	text-align: center;
	color: white;
	border-color: lightblue;

}
button{
	font-size: 20px;
	border-radius: 10px;
}
